// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
// Stencil Checkout  - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// Header
.checkoutHeader {
    background-image: url(stencilImage('optimizedCheckout_custom_background_image', 'optimizedCheckout_custom_background_image_size'));
    background-size: cover;
    background-color: stencilColor("optimizedCheckout_header-backgroundColor");

    // Desktop Only
    @include breakpoint("medium") {
        text-align: stencilString("optimizedCheckout_logo_position");
    }
}

// Order Summary, Mobile Order Summary, Modal Order Summary
.cart,
.cartDrawer,
.cart-modal-body,
.cart-modal-header {
    background-color: stencilColor("optimizedCheckout_cart-bg");
}

// H1 HEADINGS
.textHeading {
    color: stencilColor("optimizedCheckout_color-textHeading");
}

// H2 HEADINGS
.subTextHeading {
    color: stencilColor("optimizedCheckout_color-subTextHeading");
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    color: stencilColor("optimizedCheckout_color-textHeading");
    font-family: stencilFontFamily("optimizedCheckout_headings-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_headings-font");
}

// Body & Main content area
body {
    color: stencilColor("optimizedCheckout_color-body");
    background-color: stencilColor("optimizedCheckout_body-bg");
    font-family: stencilFontFamily("optimizedCheckout_body-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontFamily("optimizedCheckout_body-font");
}

// Links
$anchor-font-color:                    stencilColor("optimizedCheckout_color-textLink");
$anchor-font-color-hover:              stencilColor("optimizedCheckout_color-textLink--hover");

a {
    color: $anchor-font-color;

    &:hover,
    &:focus {
        color: $anchor-font-color-hover;
    }
}

// Buttons
.button {
    font-family: stencilFontFamily("optimizedCheckout_body-font"), Arial, Helvetica, sans-serif;
}

.primary--button {
    color: stencilColor("");
    &:hover {
        color: stencilColor("");
    }
    &:hover {
        color: stencilColor("");
    }
}

// Steps
.stepHeader-counter {
    background-color: stencilColor("optimizedCheckout_step-bg");

    &::before {
        color: stencilColor("optimizedCheckout_color-stepText");
    }
}


// Errors
.form-field--error {

    .form-input,
    .form-select,
    .form-checkbox + .form-label::before,
    .form-radio + .form-label::before,
    .form-prefixPostfix-label {
        border-color: stencilColor("optimizedCheckout_errors_color");
    }

    .form-field-error,
    .form-inlineMessage {
        color: stencilColor("optimizedCheckout_errors_color");
    }

    // Depth need to style svg with validation state
    // scss-lint:disable SelectorDepth
    .form-input-indicator > svg {
        fill: stencilColor("optimizedCheckout_errors_color");
    }
    // scss-lint:enable SelectorDepth
}

// Form Fields
.form-input,
.form-select {
    background-color: stencilString("optimizedCheckout_formField_backgroundColor");
}

.form-select {
    &:hover {
        background-color: stencilString("optimizedCheckout_formField_backgroundColor");
    }
}
