// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please refrain from nesting or using other class selectors than the ones given below.
// Future support is only guaranteed if class selectors are left unchanged.
//
// =============================================================================

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

.optimizedCheckout_header {
    background-image: url(stencilImage('optimizedCheckout_custom_background_image', 'optimizedCheckout_custom_background_image_size'));
    background-size: cover;
    background-color: stencilColor("optimizedCheckout_header-bg");

    // Desktop Only
    @include breakpoint("medium") {
        text-align: stencilString("optimizedCheckout_logo_position");
    }
}

//
// Headings
// Text Color & Typography
// -----------------------------------------------------------------------------

.optimizedCheckout-heading--primary {
    color: stencilColor("optimizedCheckout_heading--primary-color");
    font-family: stencilFontFamily("optimizedCheckout_heading--primary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_heading--primary-font");
}

.optimizedCheckout_heading--secondary {
    color: stencilColor("optimizedCheckout_heading--secondary-color");
    font-family: stencilFontFamily("optimizedCheckout_heading--secondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_heading--secondary-font");
}

//
// Body
// Background & Shipping Method Overlay & Text Color & Typography
// -----------------------------------------------------------------------------

body {
    background-color: stencilColor("optimizedCheckout_body-bg");
}

.optimizedCheckout_overlay {
    background-color: stencilColor("optimizedCheckout_body-bg");
}

.optimizedCheckout_body--primary {
    color: stencilColor("optimizedCheckout_body--primary-color");
    font-family: stencilFontFamily("optimizedCheckout_body--primary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_body--primary-font");
}

.optimizedCheckout_body--secondary {
    color: stencilColor("optimizedCheckout_body--secondary-color");
    font-family: stencilFontFamily("optimizedCheckout_body--secondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_body--secondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// -----------------------------------------------------------------------------

.optimizedCheckout_button--primary {
    color: stencilColor("optimizedCheckout_button--primary-color");
    background-color: stencilColor("optimizedCheckout_button--primary-bg");
    border-color: stencilColor("optimizedCheckout_button--primary-borderColor");
    font-family: stencilFontFamily("optimizedCheckout_button--primary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_button--primary-font");

    &:hover {
        color: stencilColor("optimizedCheckout_button--primary-colorHover");
        background-color: stencilColor("optimizedCheckout_button--primary-bgHover");
        border-color: stencilColor("optimizedCheckout_button--primary-borderColorHover");
    }
    &:active {
        color: stencilColor("optimizedCheckout_button--primary-colorActive");
        background-color: stencilColor("optimizedCheckout_button--primary-bgActive");
        border-color: stencilColor("optimizedCheckout_button--primary-borderColorActive");
    }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// -----------------------------------------------------------------------------

.optimizedCheckout_secondary--button {
    color: stencilColor("optimizedCheckout_button--secondary-color");
    background-color: stencilColor("optimizedCheckout_button--secondary-bg");
    border-color: stencilColor("optimizedCheckout_button--secondary-borderColor");
    font-family: stencilFontFamily("optimizedCheckout_button--secondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_button--secondary-font");
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------

a {
    color: stencilColor("optimizedCheckout_link-color");
    font-family: stencilFontFamily("optimizedCheckout_link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout_link-font");
}

//
// Order Summary (Mobile Drawer & Modal)
// Background
// -----------------------------------------------------------------------------

.optimizedCheckout_orderSummary {
    background-color: stencilColor("optimizedCheckout_cart-bg");
}

//
// Order Steps
// Background & Text Color
// -----------------------------------------------------------------------------

.optimizedCheckout_step {
    background-color: stencilColor("optimizedCheckout_step-bg");

    &::before {
        color: stencilColor("optimizedCheckout_step-text");
    }
}

//
// Form Errors
// Border & Text Color
// -----------------------------------------------------------------------------

.optimizedCheckout_form-error {
    border-color: stencilColor("optimizedCheckout_error-color");
    color: stencilColor("optimizedCheckout_error-color");
}

//
// Form Labels
// Text Color
// -----------------------------------------------------------------------------

.optimizedCheckout_form-label {
    color: stencilColor("optimizedCheckout_form-text");
}

//
// Form Input
// Background & Border Color
// -----------------------------------------------------------------------------

.optimizedCheckout_form-input {
    background-color: stencilColor("optimizedCheckout_formField-bg");
    border-color: stencilColor("optimizedCheckout_formField-borderColor");
}
