// =============================================================================
// CHECKOUT (CSS)
// =============================================================================

// Header
.checkoutHeader {
    background-image: url(stencilImage("checkout_custom_background_image", "checkout_custom_background_image_size"));
    background-size: cover;

    // Logo
    @include breakpoint("medium") {
        text-align: stencilString("checkout_logo_position");
    }
}

// Main content area
.ng-checkout-container {
    background-color: stencilColor("checkout_main_backgroundColor");
}

// Order Summary
.cart {
    background-color: stencilColor("checkout_cart_backgroundColor");
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    color: stencilColor("checkout_color-headings");
    font-family: stencilFontFamily("checkout_headings_font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("checkout_headings_font");
}

// Body
body {
    color: stencilColor("checkout_color-body");
    font-family: stencilFontFamily("checkout_body_font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontFamily("checkout_body_font");
}

// Links
a {
    color: stencilColor("checkout_color-textLink");

    &:active {
        color: stencilColor("checkout_color-textLink--active");
    }

    &:hover,
    &:focus {
        color: stencilColor("checkout_color-textLink--hover");
    }
}

// Buttons
.button {
    font-family: stencilFontFamily("checkout_body_font"), Arial, Helvetica, sans-serif;
}

// Errors
.form-field--error {

    .form-input,
    .form-select,
    .form-checkbox + .form-label::before,
    .form-radio + .form-label::before,
    .form-prefixPostfix-label {
        border-color: stencilColor("checkout_color-error");
    }

    .form-field-error,
    .form-inlineMessage {
        color: stencilColor("checkout_color-error");
    }

    // scss-lint:disable SelectorDepth
    .form-input-indicator > svg {
        fill: stencilColor("checkout_color-error");
    }
    // scss-lint:enable SelectorDepth
}

// Form Fields
.form-input,
.form-select {
    background-color: stencilString("checkout_formField_backgroundColor");
}

.form-select {
    &:hover {
        background-color: stencilString("checkout_formField_backgroundColor");
    }
}
